In [5]:
import numpy as np
import sklearn
print(sklearn.__version__)

0.24.0

In [6]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [8]:
import pandas as pd

iris = load_iris()

iris_data = iris.data
iris_label = iris.target
print('iris target값 : ', iris_label)
print('iris target명 : ', iris.target_names)

iris target값 :  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
iris target명 :  ['setosa' 'versicolor' 'virginica']

In [9]:
iris_df = pd.DataFrame(data = iris_data, columns = iris.feature_names)
iris_df['label'] = iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [16]:
# 학습 데이터와 테스트 데이터셋 분리
X_train, X_test, y_train, y_test = train_test_split(iris_data, iris_label, test_size = 0.2, random_state = 11)

In [17]:
# model 선언
dt_clf = DecisionTreeClassifier(random_state = 11)

# model train
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

In [18]:
# model prediction
pred = dt_clf.predict(X_test)

In [13]:
pred

array([2, 2, 1, 1, 2, 0, 1, 0, 0, 1, 1, 1, 1, 2, 2, 0, 2, 1, 2, 2, 1, 0,
       0, 1, 0, 0, 2, 1, 0, 1])

In [19]:
# check the accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, pred))

0.9333333333333333

데이터 셋 분리는 dataframe에서도 가능

In [22]:
ftr_df = iris_df.iloc[:, :-1]
trg_df = iris_df.iloc[:, -1]
ftr_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [29]:
X_train, X_test, y_train, y_test = train_test_split(ftr_df, trg_df, test_size = 0.3, random_state = 121)

In [30]:
print(type(X_train), type(y_train))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [31]:
# model 선언
dt_clf = DecisionTreeClassifier(random_state = 121)

# model train
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=121)

In [32]:
pred = dt_clf.predict(X_test)

print(accuracy_score(y_test, pred))

0.9555555555555556